
--index-url https://download.pytorch.org/whl/cu129
torch
torchvision

--index-url https://pypi.org/simple
pydantic
fastapi[standard]
python-dotenv
rich
openai
transformers
accelerate
bitsandbytes==0.47.*
sentencepiece==0.2.*
protobuf==6.32.*
